:root {
    --text: #d2d1ff;
    --background: #010104;
    --secondary-background: #26262b;
    --primary: #898aec;
    --secondary: #62189a;
    --accent: #968299;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    color: var(--text);
}

body {
    background-color: var(--background);
    color: var(--text);
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 1rem;
    gap: 2rem;
    border-bottom: 1px solid var(--accent);
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

header .search-bar {
    height: 50px;
    width: 100%;
    min-width: 100px;
    max-width: 400px;
    /* border: 5px solid rgb(241, 0, 0); */
    display: flex;
    border-radius: 1rem;
}

header .search-bar .search-form {
    flex: 1;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-around;
    
}

header .search-bar .search-form select {
    border: none;
    max-width: 70px;
    min-width: 40px;
    width: 100%;
    color: #000000;
    border-radius: 1rem 0 0 1rem;
}

input:focus{
    outline: none;
}



select option{
    all: inherit;
}

header .search-bar .search-form .search-input {
    text-align: center;
    border: none;
    width: 50%;
    max-width: 260px;
    min-width: 100px;
    color: #000000;
    font-weight: bolder;
}


header .search-bar .search-form .search-submit {
    background-image: url("images/search.svg");
    background-color: #e9e9ed;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 1rem 1rem 0 ;
    border: 0;
    cursor: pointer;
    flex: 1;
}

header .user-bar{
    /* width: 300px; */
    height: 50px;
    display: flex;
    gap: 0.5rem;
    justify-content: space-around;
    align-items: center;
}

header .user-bar img{
    border: 2px solid white;
    height: 40px;
    border-radius: 50%;
}


header nav {
    display: flex;
    gap: 1.5rem;
}


nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: var(--text);
    text-align: center;
    padding: 1rem 1.5rem;
    background-color: var(--secondary);
    border: 1px solid var(--accent);
    border-radius: 0.5rem;
}


main {
    margin: 3rem 1rem;
}

.overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.658);
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}

.overlay p{
    cursor: pointer;
}

.popup{
    padding: 1.5rem;
    border-radius: 1rem;
    min-width: 300px;
    background-color: var(--primary);
    box-shadow: 0 0 3rem rgba(255, 255, 255, 0.514);
}

.progress-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0.5rem;
}

.progress-form .button{
    background-color: var(--secondary);
    padding: 1rem;
    text-align: center;
    width: 50%;
    margin: auto;
    border: none;
    border-radius: 1rem;
}

.progress-form input{
    cursor: pointer;

}

.progress-form *{
    color: #000000;
    text-align: center;
}

.index-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    text-align: center;
}

.introdutory-text {
    max-width: 60%;
    min-width: 300px;
    padding: 1rem;
    margin-right: 1rem;
}

.button-container {
    /* flex-grow: 1; */
    align-content: center;
}

.button-container a {
    text-decoration: none;
    padding: 1rem 2.5rem;
    margin: 1rem auto;
    border-radius: 0.675rem;
    background-color: var(--primary);
    font-weight: bold;
}

.form-container {
    box-shadow: 2px 2px 1rem whitesmoke;
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 330px;
    max-width: 600px;
    margin: 1rem auto;
    padding: 2rem 1rem;
    border-radius: 1rem;
    background-color: var(--accent);
}

.form-layout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: auto 50px;
}

.form-title {
    text-align: center;
    font-weight: bolder;
    font-size: 3em;
    color: #595894;
}

.form-layout input {
    border: none;
    margin: 1rem auto;
    max-width: 500px;
    min-width: 300px;
    width: 80%;
    padding: 1.3rem;
    text-align: center;
    border-radius: 1rem;
    color: #000000;
}

.form-layout button {
    cursor: pointer;
    margin: 1rem auto;
    min-width: 150px;
    width: 50%;
    height: 60px;
    background-color: var(--primary);
    border: 1px solid var(--secondary-background);
    border-radius: 1rem;
    font-weight: bolder;
    font-size: 1em;
}

.form-layout span {
    display: block;
    text-align: center;
    margin: 1rem auto;
}

.form-layout a {
    text-decoration: underline;
}

button:hover,
.button-container *:hover {
    box-shadow: 2px 3px 1rem var(--secondary-background);
    transition: all 0.5s ease;
}

.book-layout {
    background-color: var(--primary);
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.book-container {
    /* border: 1px solid black; */
    box-shadow: 0px 0px 1rem 1px var(--accent);
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--secondary);
}

.book-container img {
    width: 300px;
    height: 460px;
    border-radius: 8px;
    background-image: url();
    object-fit: contain;
}

.book-details {
    text-align: center;
    max-width: 300px;
    background-color: var(--secondary);
    padding: 1rem;
}

.book-container button {
    text-align: center;
    border-radius: 1rem;
    margin: 1rem auto;
    width: 150px;
    border: 1px solid black;
    font-weight: bolder;
    font-size: larger;
    color: black;
    background-color: var(--accent);
    cursor: pointer;
}

footer {
    background-color: var(--secondary-background);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 5rem 0;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    margin-top: 1rem;
    border-top: 1px solid var(--accent);

}

#socials img {
    width: 2rem;
    margin: auto 1rem;
}

.hidden {
    display: none;
}